---
import PageLayout from "../../layouts/PageLayout.astro"
import TopLayout from "../../layouts/TopLayout.astro"
import CertificatePage from "../../components/Certificates"
import { CERTIFICATIONS } from "../../consts"

---

<PageLayout
  title={CERTIFICATIONS.TITLE}
  description={CERTIFICATIONS.DESCRIPTION}
>
  <TopLayout>
    <div class="animate page-heading">
      {CERTIFICATIONS.TITLE}
    </div>
  </TopLayout>
    <div class="animate">
      <CertificatePage />
    </div>
</PageLayout>
