---
import CertificatePage from "../../components/Certificates"
import PageLayout from "../../layouts/PageLayout.astro"
import { CERTIFICATIONS } from "../../consts"
---

<PageLayout
  title={CERTIFICATIONS.TITLE}
  description={CERTIFICATIONS.DESCRIPTION}
>

  <div class="animate pt-24 md:pt-36 pb-5">
    <CertificatePage client:load />
  </div>
</PageLayout>
