---
import PageLayout from "../../layouts/PageLayout.astro"
import TopLayout from "../../layouts/TopLayout.astro"
import BottomLayout from "../../layouts/BottomLayout.astro"
import { CONTACT } from "../../consts"
import FormContact from "../../components/FormContact.astro"
---

<PageLayout title={CONTACT.TITLE} description={CONTACT.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading">
      {CONTACT.TITLE}
    </div>
  </TopLayout>
  <BottomLayout>
    <FormContact />
  </BottomLayout>
</PageLayout>
