---
import PageLayout from "../layouts/PageLayout.astro"
import { SITE } from "../consts"
import Hero from "../components/Hero.astro"
import About from "../components/About.astro"
import Stack from "../components/Stack.astro"
import Socmed from "../components/Socmed.astro"
import ProjectPreview from "../components/ProjectPreview.astro"
---

<PageLayout title="Home" description={SITE.DESCRIPTION}>
  <!-- Light Mode: Particles -->
  <div class="absolute inset-0 block dark:hidden">
    <div id="particles1" class="fixed inset-0"></div>
    <div id="particles2" class="fixed inset-0"></div>
    <div id="particles3" class="fixed inset-0"></div>
  </div>

  <!-- Dark Theme: Stars -->
  <div class="absolute inset-0 bg-black hidden dark:block">
    <div id="stars1" class="fixed inset-0"></div>
    <div id="stars2" class="fixed inset-0"></div>
    <div id="stars3" class="fixed inset-0"></div>
  </div>

  <script is:inline src="/js/bg.js"></script>


  <Hero />
  <div class="relative bg-white dark:bg-black">
    <div class="mx-auto max-w-screen-sm p-5 space-y-24 pb-16">
      <About />
      <ProjectPreview />
      <Stack />
      <Socmed />
    </div>
  </div>
</PageLayout>
