<section class="animate">
  <article>
    <div class="flex items-center justify-between">
      <p class="font-semibold text-black dark:text-white">About Me</p>
      <div>
        <img src="poto.png" alt="Anggun Caksono" width="50" height="50" />
      </div>
    </div>
    <p>
      I am Anggun Caksono, a Fullstack Developer and alumni of the MSIB program at Bangkit Academy 2024 Batch 1 Led by Google, GoTo, and Traveloka.
    </p>
    <p class="text-justify">
      A passionate Informatics Engineering student with experience as a
      Fullstack Developer and alumni of the MSIB program at Bangkit Academy 2024
      Batch 1 Lead by Google, GoTo, and Traveloka.
    </p>
    <p class="text-justify">Key skills:</p>
    <ul>
      <li>Frontend development: HTML, CSS, JavaScript, React, Next JS</li>
      <li>Backend development: Node.js, Express, Golang, PHP</li>
      <li>Cloud Computing: Google Cloud Platform</li>
      <li>Database: MySQL, MongoDB, Firebase, Supabase</li>
      <li>Version control: Git</li>
      <li>Methodology: Agile, Scrum</li>
    </ul>
    <p class="text-justify">Achievements:</p>
    <p class="text-justify">
      Selected to join MSIB at Bangkit Academy, Bangkit Academy 2024 Batch 1
      program led by Google, GoTo, and Traveloka. Passed the Entrepreneur Track,
      got the opportunity to start a startup and received incubation funds.
      Currently looking for opportunities to apply fullstack development and
      cloud computing skills in innovative projects.
    </p>
    <p class="text-justify font-bold">
      Currently looking for opportunities to apply fullstack development and
      cloud computing skills in innovative projects. Open to internship opportunities, freelance projects, or challenging
      entry-level positions in software development or cloud technology.
    </p>
  </article>
</section>
