<section class="animate">
  <article>
    <div class="flex items-center justify-between">
      <p class="font-semibold text-black dark:text-white">About Me</p>
      <div>
        <img
          src="../public/poto.png"
          alt="Anggun Caksono"
          width="50"
          height="50"
        />
      </div>
    </div>
    <p>
      I am a <b><i>software engineer</i></b>, <b><i>ui/ux designer</i></b>, <b
        ><i>product planner</i></b
      >, <b><i>student</i></b>, <b><i>minimalist</i></b>, <b
        ><i>frond-end developer</i></b
      > and <b><i>cloud engineer</i></b>.
    </p>
    <p class="text-justify">
      I'm a tech enthusiast and a computer science student who's always eager to
      explore new things, especially in the realm of technology. Web development
      has become my passion, driving me to delve deeper into various frameworks.
      Currently, I'm pursuing an independent study program at Bangkit Academy
      2024, focusing on Cloud Computing. This journey not only sharpens my web
      development skills but also broadens my understanding of cloud
      technologies, essential in today's digital landscape.
    </p>
    <p class="text-justify">
      In this ever-evolving tech world, I see myself as a lifelong learner,
      embracing challenges and seizing opportunities to grow. Join me as I
      navigate through the exciting possibilities that lie ahead in the tech
      universe!
    </p>
  </article>
</section>
