<section class="animate">
  <div class="space-y-4 mb-4">
    <div class="flex justify-between">
      <p class="font-semibold text-black dark:text-white">Github Stats</p>
      <a
        target="_blank"
        href="https://github.com/alrescha79-cmd"
        class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend"
      >
        <span
          class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend"
        >
          See My Github
        </span>
      </a>
    </div>
    <div class="flex gap-2">
      <img
        src="https://visitor-badge.laobi.icu/badge?page_id=alrescha79-cmd.alrescha79-cmd&left_color=aqua"
        alt="visitor-badge"
      />
      <img
        src="https://visitcount.itsvg.in/api?id=alrescha79-cmd&icon=1&color=6)"
        alt="profile-view"
      />
    </div>
  </div>
  <div class="flex flex-col gap-2 mb-4">
    <img
      src="https://streak-stats.demolab.com?user=alrescha79-cmd&locale=en&mode=daily&theme=dark&hide_border=false&border_radius=5&order=3"
      height="175"
      alt="streak graph"
    />
    <img
      src="https://github-readme-stats.vercel.app/api?username=alrescha79-cmd&hide_title=false&hide_rank=false&show_icons=true&include_all_commits=true&count_private=true&disable_animations=false&theme=dark&locale=en&hide_border=false&order=1"
      height="175"
      alt="stats graph"
    />
    <img
      src="https://github-readme-stats.vercel.app/api/top-langs?username=alrescha79-cmd&locale=en&hide_title=false&layout=compact&card_width=320&langs_count=25&theme=dark&hide_border=false&order=2"
      height="400"
      alt="languages graph"
    />
    <img
      src="https://github-readme-activity-graph.vercel.app/graph?username=alrescha79-cmd&radius=16&theme=react&area=true&order=5"
      height="400"
      alt="activity-graph graph"
    />
    <img
      src="https://github-profile-trophy.vercel.app?username=alrescha79-cmd&theme=nord&column=-1&row=1&margin-w=8&margin-h=8&no-bg=true&no-frame=false&order=4"
      height="150"
      alt="trophy graph"
    />
  </div>
</section>
<div class="space-y-6 ani">
  <p class="font-semibold text-black dark:text-white">
    Spotify Recently Played
  </p>
  <img
    class="w-full"
    src="https://spotify-recently-played-readme.vercel.app/api?user=4la0onkb7z65yks3gmr6yzj3o"
    alt="spotify"
  />
</div>
