---
import { SITE, LINKS } from "../consts"
import { cn } from "../lib/utils"
const { pathname } = Astro.url
const subpath = pathname.match(/[^/]+/g)
import Container from "../components/Container.astro"
---

<header class="w-full">
  <Container size="md">
    <div
      class="container z-50 fixed top-0 left-0 right-0 flex justify-evenly items-center p-4 w-full bg-white/80 dark:bg-black/80 transition-colors duration-300 ease-in-out backdrop:blur-md border-b-[1px]"
    >
      <div>
        <a
          href="/"
          class="flex gap-1 text-current hover:text-black dark:hover:text-white transition-colors duration-300 ease-in-out"
        >
          <svg class="size-6 fill-current">
            <use href="/brand.svg#brand"></use>
          </svg>
          <div>
            {SITE.TITLE}
          </div>
        </a>
      </div>
      <div>
        <nav
          class="fixed md:sticky bottom-0 left-0 right-0 bg-primary-foreground w-full px-2 py-4 z-50 bg-white/80 dark:bg-black/80 transition-colors duration-300 ease-in-out backdrop:blur-md border-t-[1px] md:border-t-0"
        >
          <ul class="flex justify-evenly md:gap-4">
            {
              LINKS.map((LINK) => (
                <a
                  href={LINK.HREF}
                  class={cn(
                    "h-8 rounded-full px-3 text-current",
                    "flex items-center justify-center",
                    "transition-colors duration-300 ease-in-out",
                    pathname === LINK.HREF || "/" + subpath?.[0] === LINK.HREF
                      ? "bg-black dark:bg-white text-white dark:text-black"
                      : "hover:bg-black/5 dark:hover:bg-white/20 hover:text-black dark:hover:text-white"
                  )}
                >
                {LINK.TEXT}
                </a>
              ))
            }
          </ul>
        </nav>
      </div>
      <div class="flex gap-4">
        <a
          href="/contact"
          aria-label={`Get in touch with Me ${SITE.TITLE}`}
          class={cn(
            "rounded-md px-2 flex items-center justify-center",
            "bg-black/10 dark:bg-white/30 hover:bg-black/5 dark:hover:bg-white/20",
            "stroke-current hover:stroke-black hover:dark:stroke-white",
            "border border-black/10 dark:border-white/25",
            "transition-colors duration-300 ease-in-out",
            pathname === "/contact" || "/" + subpath?.[0] === "/contact"
              ? "pointer-events-none bg-black dark:bg-white text-white dark:text-black"
              : ""
          )}
        >
          Contact Now
        </a>

        <button
          id="header-theme-button"
          aria-label={`Toggle light and dark theme`}
          class={cn(
            " md:flex",
            "size-9 rounded-full p-2 items-center justify-center",
            "bg-transparent hover:bg-black/5 dark:hover:bg-white/20",
            "stroke-current hover:stroke-black hover:dark:stroke-white",
            "border border-black/10 dark:border-white/25",
            "transition-colors duration-300 ease-in-out"
          )}
        >
          <svg class="size-full block dark:hidden">
            <use href="/ui.svg#sun"></use>
          </svg>
          <svg class="size-full hidden dark:block">
            <use href="/ui.svg#moon"></use>
          </svg>
        </button>
      </div>
    </div>
  </Container>
</header>
