---
import { getCollection } from "astro:content"
import ArrowCard from "../components/ArrowCard"

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
  .slice(0, 3)
---

<section class="animate">
    <div class="space-y-4">
      <div class="flex justify-between">
        <p class="font-semibold text-black dark:text-white">
          Recent projects
        </p>
        <a
          href="/projects"
          class="w-fit col-span-3 group flex gap-1 items-center underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend"
        >
          <span
            class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend"
          >
            All projects
          </span>
        </a>
      </div>
      <ul class="space-y-4">
        {
          projects.map((project) => (
            <li>
              <ArrowCard entry={project} client:idle/>
            </li>
          ))
        }
      </ul>
    </div>
  </section>