---
import StackCard from "../components/StackCard.astro"

const stack = [
  {
    text: "Astro",
    icon: "astro",
    href: "https://astro.build",
  },
  {
    text: "React JS",
    icon: "react",
    href: "https://reactjs.org",
  },
  {
    text: "Javascript",
    icon: "javascript",
    href: "https://www.javascript.com",
  },
  {
    text: "Typescript",
    icon: "typescript",
    href: "https://www.typescriptlang.org",
  },
  {
    text: "Tailwind",
    icon: "tailwind",
    href: "https://tailwindcss.com",
  },
];
---

<section class="animate">
  <div class="space-y-4">
    <p class="font-semibold text-black dark:text-white">Website build with</p>
    <div class="flex flex-wrap items-center gap-2 mt-5">
      {
        stack.map((item) => (
          <StackCard text={item.text} icon={item.icon} href={item.href} />
        ))
      }
    </div>
    <div>
      Performing reactivity and statefulness, special guest
      <a
        href="https://www.solidjs.com/"
        target="_blank"
        class="w-fit group underline decoration-[.5px] decoration-black/25 dark:decoration-white/50 hover:decoration-black dark:hover:decoration-white text-black dark:text-white underline-offset-2 blend"
      >
        <span
          class="text-black/75 dark:text-white/75 group-hover:text-black group-hover:dark:text-white blend"
        >
          SolidJS
        </span>
      </a>
    </div>
  </div>
</section>
