---
import { getCollection } from "astro:content"
import PageLayout from "../../layouts/PageLayout.astro"
import TopLayout from "../../layouts/TopLayout.astro"
import BottomLayout from "../../layouts/BottomLayout.astro"
import { WORK } from "../../consts"

const collection = await getCollection("work")

collection.sort((a, b) => new Date(b.data.dateStart).getTime() - new Date(a.data.dateStart).getTime())

---

<PageLayout title={WORK.TITLE} description={WORK.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading">
      {WORK.TITLE}
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate container flex justify-center items-center border-b-current w-full h-32">
      <h1 class="text-4xl">Update Soon...</h1>
    </div>
  </BottomLayout>
</PageLayout>
